<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=UTF-8" />
    <title>Channels</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/keyboard.css" />

    <script type="text/javascript" src="libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="libs/lodash.compat.min.js"></script>
    <script type="text/javascript" src="libs/event_emitter.js"></script>
    <script type="text/javascript" src="js/lib/smartbox.js"></script>
    <script type="text/javascript" src="js/lib/config.js"></script>
    <script type="text/javascript" src="js/lib/msgBusEntry.js"></script>
    <script type="text/javascript" src="js/lib/gapi.js"></script>

    <style type="text/css">
        p,
        li,
        h1,
        h2,
        h3,
        a {
            font-family: 'Roboto Mono', monospace;
        }

        .bg {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(/img/bg.jpg) no-repeat;
            z-index: -10;
        }

        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        ul {
            max-height: 530px;
            overflow-y: scroll;
            margin: 0;
        }

        p {
            margin: 0;
        }

        .wrap {
            max-width: 980px;
            margin: 25px 0 0 50px;
            z-index: -4;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        p {
            display: inline-block;
        }

        .playlist {
            width: 350px;
            padding: 1px 0;
            background-color: none;
            transition: 0.5s ease-in-out;
        }

        .close {
            position: absolute;
            left: -1000px;
        }

        .show {
            position: static;
        }

        .playlist ul {
            list-style: none;
            padding: 0;
        }

        .playlist li {
            padding: 2px;
            margin-bottom: 4px;
            background: #0173dd;
        }

        .playlist li.focus {
            background-color: #fff;
            color: #000;
        }

        .playlist li.focus a {
            color: #000;
        }

        li p {
            color: white;
            margin-right: 10px;
            padding: 5px 10px;
        }


        .playlist li.focus p {
            color: black;
        }

        .header {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            display: fixed;
            position: relative;
            padding: 15px;
            height: 40px;
        }

        .header h2 {
            float: left;
        }

        .header_images {
            float: right;
        }

        .header .focus {
            border: 2px solid yellow;
        }

        /* хром, сафари */
        ul::-webkit-scrollbar {
            width: 0;
        }

        /* ie 10+ */
        ul {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        /* фф (свойство больше не работает, других способов тоже нет)*/
        ul {
            overflow: -moz-scrollbars-none;
        }

        #allChannels {
            display: block;
        }

        #news {
            display: none;
        }

        #filmsSerials {
            display: none;
        }

        #sport {
            display: none;
        }

        #music {
            display: none;
        }

        #child {
            display: none;
        }

        #docum {
            display: none;
        }

        #inter {
            display: none;
        }

        #playlistChannels {
            display: none;
        }
    </style>
</head>

<body id="body" data-selectedChannel="<%= channelId %>">
    <!-- Передаю айди канала, чтобы фокусить его(также до этого перекинул его в url) -->
    <div class="bg"></div>
    <div class="wrap">
        <div class="playlist" id="playlistChannels">
            <ul class="navigation-items" id="listChannels">
                <li class="nav-item" id="allChannelsCategory" data-playlist-id="allChannels">
                    <p>Все каналы</p>
                </li>
                <li class="nav-item" data-playlist-id="news">
                    <p>Новостные</p>
                </li>
                <li class="nav-item" data-playlist-id="filmsSerials">
                    <p>Фильмы/Сериалы</p>
                </li>
                <li class="nav-item" data-playlist-id="sport">
                    <p>Спортивное</p>
                </li>
                <li class="nav-item" data-playlist-id="music">
                    <p>Музыкальные</p>
                </li>
                <li class="nav-item" data-playlist-id="child">
                    <p>Детские</p>
                </li>
                <li class="nav-item" data-playlist-id="docum">
                    <p>Познавательные</p>
                </li>
                <li class="nav-item" data-playlist-id="inter">
                    <p>Международные</p>
                </li>
            </ul>
        </div>
        <div class="playlist" id='playlist'>
            <ul id="allChannels">
                <!-- с помощью шаблонизатора импортирую html разметку -->
                <%- include('./elements/channels/allChannels.ejs') %>
            </ul>
            <ul id="music">
                <!-- с помощью шаблонизатора импортирую html разметку -->
                <%- include('./elements/channels/music.ejs') %>
            </ul>
            <ul id="news">
                <!-- с помощью шаблонизатора импортирую html разметку -->
                <%- include('./elements/channels/news.ejs') %>
            </ul>
            <ul id="sport">
                <!-- с помощью шаблонизатора импортирую html разметку -->
                <%- include('./elements/channels/sport.ejs') %>
            </ul>
            <ul id="docum">
                <!-- с помощью шаблонизатора импортирую html разметку -->
                <%- include('./elements/channels/docum.ejs') %>
            </ul>
            <ul id="child">
                <!-- с помощью шаблонизатора импортирую html разметку -->
                <%- include('./elements/channels/child.ejs') %>
            </ul>
            <ul id="filmsSerials">
                <!-- с помощью шаблонизатора импортирую html разметку -->
                <%- include('./elements/channels/filmsSerials.ejs') %>
            </ul>
        </div>
        <div></div>
    </div>
    <script type="text/javascript">
        var selectedChannel = document.getElementById("body").getAttribute("data-selectedChannel")
        $(selectedChannel).get(0).scrollIntoView() - 100
        $(document).scrollTop($(document).scrollTop() - 100)
        $$nav.on()
        $$nav.current(selectedChannel);
        mb.send('display.osd_over_video', { value: false });
      
        // код нажатия на клавиши
        $(document).keydown(function (e) {
            var key = config.app.keys[config.app.mode][e.keyCode];
            var curItemPos = $('.focus')
            $('.focus').get(0).scrollIntoView(); // скроллить к элементу 
            // скроллю чуть меньше чтобы лучше видно было элемент
            switch (key) {
                case 'back':
                    if (mb.get('player:state').value === 'play') {
                         $('body').show()
                         mb.send('player.stop');
                    } else {
                        document.location.href = '/'
                        mb.send('player.stop');
                    }
                    break;
                case 'left':
                    $('#playlist').hide()
                    $('#playlist ul').hide()
                    $('#playlistChannels').show()
                    $$nav.current('#allChannelsCategory');
                    $$nav.on('#listChannels');
                    break;
                case 'up':
                    mb.send('player.stop');
                    mb.send('display.pip', { value: true, x: '33%', y: '17%', w: '1280', h: '720' });
                    var channelUrl = $('#playlist').find('li').getAttribute('href');
                    mb.send('player.enqueue', { url: channelUrl, title: 'channel' });
                    mb.send('player.play');
                    break;
                case 'down':
                    mb.send('player.stop');
                    mb.send('display.pip', { value: true, x: '33%', y: '17%', w: '1280', h: '720' });
                    var channelUrl = $('#playlist').find('li').getAttribute('href');
                    mb.send('player.enqueue', { url: channelUrl, title: 'channel' });
                    mb.send('player.play');
                    break;
            }
        })
        // при клике на стрелку перейти обратно
        $('#arrowBack').click(function () {
            window.location = '/'
        })
        var channelFocusUrl = $('#allChannels').find('.focus')[0].getAttribute('id')
       
        mb.send('player.enqueue', { url: channelFocusUrl, title: 'channel' });
        mb.send('player.play');
        // при клике на каналы перейти к его просмотру
        $('#playlist').find('li').click(function (e) {
            var channelUrl = e.currentTarget.getAttribute('href')
            mb.send('player.stop');
            mb.send('display.pip', { value: true, w: '100%', h: '100%' });
            mb.send('player.enqueue', { url: channelUrl, title: 'channel' });
            mb.send('player.play');
        })
        $('#listChannels').find('li').click(function (e) {
            var channelId = '#' + e.currentTarget.getAttribute('data-playlist-id')
            $('#playlistChannels').hide()
            $('#playlist').show()
            $(channelId).show()
            $$nav.on('#playlist')
        })

    </script>
</body>

</html>